.formulaire {
    margin: 0 1rem;
    max-width: 600px;
    margin: auto;
}

.formulaire__input {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;

    &>input {
        margin-bottom: 0.5rem;
        height: 1.5rem;
        font-size: 16px;
    }

    &>button {
        margin: 1.5rem auto 5rem;
        width: 200px;
        min-width: 110px;
        height: 3rem;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold;
        background-color: rgb(177, 167, 241);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border-style: none;
        border-radius: 4%;
        border-color: rgba(0, 0, 0, 0.829);
        transition: .3s ease-in-out;

        &:hover {
            background-color: darken($color: rgb(177, 167, 241), $amount: 5%);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
            cursor: pointer;
        }

    }
}

#bouton-vider {
    margin: 0 0 1.5rem 0rem;
    width: 200px;
    min-width: 110px;
    height: 3rem;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    background-color: rgb(177, 167, 241);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-style: none;
    border-radius: 4%;
    border-color: rgba(0, 0, 0, 0.829);
    transition: .3s ease-in-out;
}

#bouton-vider:hover {
    background-color: darken($color: rgb(177, 167, 241), $amount: 5%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.div-bouton-vider {
    display: flex;
    justify-content: center;
}