main {
    display: block;
    justify-content: space-around;
    background-color: rgba(156, 144, 144, 0.521);
    padding: 3rem 0 3rem 0;
}

#produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#produits-panier{
    display: flex;
    flex-direction: column;
}

.produits {
    max-width: 400px;
    margin: 1rem 0 1rem 0;
    border-radius: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
    transition: all .3s ease-in-out;
    color: rgba(0, 0, 0, 0.877);
    margin: 0 1rem 2rem;
    background-color: rgb(236, 233, 233);

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
}

.produits-page {
    max-width: 400px;
    margin: 1rem 0 1rem 0;
    border-radius: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
    color: rgba(0, 0, 0, 0.877);
    margin: 0 1rem 2rem;
    background-color: rgb(236, 233, 233);
}

.produits-page-panier {
    display: flex;
    align-items: center;
    width: 60%;
    color: rgba(0, 0, 0, 0.877);
    margin: 0 18.5% 1rem;
    background-color: rgb(236, 233, 233);
    padding-right: 1rem;
    justify-content:space-between;
    border-top: solid 2px rgba(0, 0, 0, 0.25);
    border-bottom: solid 2px rgba(0, 0, 0, 0.25);
}

.produits__img {
    display: flex;
    width: 100%;
    max-width: 400px;
    border-radius: 2% 2% 0% 0%;
    margin-bottom: 0.7rem;
}

.produits__img-panier {
    display: flex;
    width: 120px;
    border-radius: 2% 2% 0% 0%;
}

.produits__description,
.produits__name,
.produits__price,
.produits__varnish {
    margin: 0.5rem;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.produits__varnish__select, select {
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: 0.3rem;
}

.produits__varnish__selected {
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: 0.3rem;
    opacity: 0.4;
}

.produits__varnish__selected-panier {
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.9;
    font-size: 16px;
}

.produits__name {
    font-weight: bold;
    opacity: 0.9;
}

.produits__name-panier {
    font-weight: bold;
    opacity: 0.9;
    font-size: 16px;
}

.produits__price {
    display: inline-block;
    font-weight: bold;
    color: rgba(71, 61, 139, 0.900);
    border: 2px rgba(71, 61, 139, 0.900) solid;
    padding: 0.4rem;
    width: 30%;
    margin: 0.5rem;
    margin-left: 50%;
    transform: translate(-50%);
}

.produits__price-panier {
    font-weight: bold;
    opacity: 0.9;
    font-size: 16px;
}

.produits__description {
    font-size: 16px;
}

.produits__varnish {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    text-align: center;
    padding: 0rem 0 1rem;
}

.introduction {
    text-align: center;
    margin: 0rem 1rem 4rem 0;
}

.introduction__txt {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    line-height: 22px;
}

a:hover{
    text-decoration: none;
}

.bouton-panier {
    display: inline-block;
    background-color: rgb(177, 167, 241);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-style: none;
    border-radius: 4%;
    padding: 1rem 2rem;
    margin: 0.5rem 0 1.5rem;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 600;
    transition: .3s ease-in-out;

    &:hover{
        background-color: darken($color: rgb(177, 167, 241), $amount: 5%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
}