header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(206, 150, 76, 0.829);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 8px rgb(0, 0, 0);
    flex-wrap: wrap;
    padding: 0 0 2rem 0;
}

.icon {
    margin: 0 0 -2rem 0rem;

    &>a{
        display: flex;
    }
}

.titre_page {
    font-size: 40px;
    font-weight: bold;
    margin: 3rem 1rem 0 1rem;
    white-space: nowrap;
    color:darkslateblue;
}

.panier {
    display: flex;
    margin: 3rem 3rem 0 0;
}

.panier__icon {
    margin-right: 1rem;
}

.panier__txt {
    font-size: 40px;
    font-weight: bold;
}